p{
	margin : 0px;
	padding: 0px;
}

a {
	text-decoration: none;
	color: #000000;
}

a:hover {
  color: #2e86c1; 
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
}

/* NAVBAR CSS */
.navbar {
	position: sticky;
	top: 0;
	padding-top: 20px;
	padding-bottom: 10px;
	display: flex;
	overflow: hidden;
	margin: auto;
	box-shadow: 0px 2px 0px 0px #566573;
	font-size: 20px;
	align-items: center;
	margin-left: 20px;
	background: white;
}

.navbar .nav_left{
	display: inline-flex;
	float: left;
	flex: 1;
	margin-left: 20px;
}

.navbar a.link{
	display: block;
	float: left;
    padding: 1% 1% 1% 1%;
	text-decoration: none;
	font-weight: 500;
	color: #b3b3b3;
}

.navbar a.link:hover{
	color: #2e86c1; 
}

.navbar .logo img{
  height: 50px;
  width: 100px;
  }

/*SEARCH BAR AND LOGIN*/

.navbar .nav_right{
	display: inline-flex;
	float: right;
	margin-right: 20px;
}

.text{
 	margin-right: 10px;
    padding: 0.5rem;
}

.navbar a.login{
	background-color: #1a53ff;
    padding: 0.5rem;
    border-radius: 5px;
    color: white;
}

/*section containing manga*/

.mainFrame{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	text-align: center;
	padding-top: 50px;
}

.mainFrame h1{
	font-size: 1rem;
}

.manga_menu{
	position: sticky;
	top: 0;
	padding-top: 1px;
}
.select_chapter{
	padding: 8px;
}

.menu_button{
	color: white;
	background-color: #2e86c1; 
	padding: 8px;
	font-weight: bold;
	border-radius: 10px;
}
