/*Manga Details*/

.manga_details{
	display: block;
	margin: auto;
	margin-top: 20px;
	width: 60%;
	height: 300px;
}

.manga_title{
	font-size: 1rem;
}
	
.manga_image{
	float: left;
	padding-right: 50px;
}

.manga_table{
	float: left;
}

.property_title{
	color: #214682;
}

.chapter_list_table{
	width: 60%;
	display: block;
	margin: auto;
}

.table_header{
	font-weight: bold;
	font-size: 1.5rem;
}

.chapter_list{
	overflow: scroll;
	height: 500px;
	width: 59%;
	margin: auto;
}