
/*section containing manga*/

.mainFrame{
	margin-left: auto;
	margin-right: auto;
	padding-top: 1%;
	width: 85%;
	height: 100%;
	border: none;
	z-index: 0;
}

/*MANGA THUMBNAILS*/
.new_manga div{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
	text-align: center;
}

.new_manga p{
	font-size: 10pt;
}

.manhwa_thumbnail name{
	font-size: 12pt;
	font-weight-weight: bold;
}

.manhwa_thumbnail{
	display: flex;
	flex-wrap: wrap;
	/*justify-content: center;*/
}

.manhwa_thumbnail img{
	height: 200px;
	width: 140px;
	padding: 0px 5px 10px 10px;
}

.manga_link p{
	padding: 10px

}

.manga_link a:hover{
	background-color:  #e6e6e6;
}