/*section containing manga*/

.mainFrame{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	text-align: center;
	padding-top: 50px;
}

.mainFrame h1{
	font-size: 1rem;
	padding: 5px;
}

.manga_menu{
	position: sticky;
	top: 0;
	padding:0 0 0 20px;
}
.select_chapter{
	padding: 8px;
}

.menu_button{
	color: white;
	background-color: #2e86c1; 
	padding: 8px;
	font-weight: bold;
	border-radius: 10px;
}
